<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bon.modules.sys.dao.SysUserExtendMapper">
    <select id="getRoleByUsername" resultType="com.bon.modules.sys.domain.entity.SysRole">
        select
        *
        from sys_role r
        INNER JOIN sys_user_role ur ON ur.role_id = r.role_id
        INNER JOIN sys_user u ON u.user_id = ur.user_id AND username = #{username}
      </select>
    <select id="getPermissionByRoleFlag" resultType="com.bon.modules.sys.domain.entity.SysPermission">
        select
        p.*
        from sys_permission p
        INNER JOIN sys_role_permission rp ON rp.permission_id = p.permission_id
        INNER JOIN sys_role r ON rp.role_id = r.role_id AND role_flag = #{roleFlag} group by p.permission_id
    </select>
    <select id="getPermissionIdsByRoleFlag" resultType="java.lang.Long">
        select
        p.permission_id
        from sys_permission p
        INNER JOIN sys_role_permission rp ON rp.permission_id = p.permission_id
        AND p.permission_id NOT IN (select p1.parent_id from sys_permission p1 where parent_id != 0 group by parent_id)
        INNER JOIN sys_role r ON rp.role_id = r.role_id AND role_flag = #{roleFlag} group by p.permission_id
    </select>
    <select id="getMenuByUsername" resultType="com.bon.modules.sys.domain.entity.SysPermission">
        SELECT
        p.*
        FROM sys_permission p
        INNER JOIN sys_role_permission rp ON p.permission_id = rp.permission_id AND p.`type`='00' AND p.parent_id=0
        INNER JOIN sys_role r ON r.role_id = rp.role_id
        INNER JOIN sys_user_role ur ON ur.role_id = r.role_id
        INNER JOIN sys_user u ON u.user_id = ur.user_id AND u.username = #{username} group by p.object_id order by sort
    </select>

    <select id="getAllPermission" resultType="com.bon.modules.sys.domain.vo.PermissionVO">
        select
        p.*
        from sys_permission p
    </select>

    <select id="getByUsername" resultType="com.bon.modules.sys.domain.entity.SysUser">
        select
        *
        from sys_user where username = #{username}
    </select>

    <select id="getPermissionFlag" resultType="java.lang.String">
        select
        p.permission_flag
        from sys_permission p
    </select>
</mapper>